---
import Layout from "../layouts/Layout.astro";
import AddBook from "../components/AddBook.astro";

const showHr = false;
---

<Layout title="ShelfSpace | My Books">
 {showHr && <hr class="my-5 mx-auto w-2/3 md:my-10" />}
 <!-- header of page -->
 <div
  class="container grid grid-cols-1 p-4 text-center md:flex md:grid-cols-2 md:items-center md:justify-evenly"
 >
  <div>
   <h1 class="mb-3 break-words text-4xl text-base-content md:mb-1 md:text-5xl">
    Hello, <span class="username text-secondary"></span>
   </h1>
   <p class="mb-3 text-lg">Add to your collection or explore your completed books</p>
  </div>
  <div class="stats overflow-hidden md:max-w-xs">
   <div class="stat p-1">
    <div class="stat-title text-base-content">book count</div>
    <div
     class="book-number stat-value mx-auto flex text-2xl text-primary md:text-3xl"
    >
     0
     <!-- <div class="stat-figure ml-2 text-primary">
      <svg
       xmlns="http://www.w3.org/2000/svg"
       fill="none"
       class="h-8 w-7 stroke-current"
      >
       <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 10V3L4 14h7v7l9-11h-7z"></path>
      </svg>
     </div> -->
    </div>
   </div>
  </div>
 </div>

 <AddBook />

 <img
  src="/images/dude-reading.svg"
  class="absolute top-48 bottom-0 left-0 right-0  m-auto h-28 md:h-44"
  alt="character reading book"
 />
</Layout>

<script>
 function onLoad() {
  // displaying users name to DOM
  const username = document.querySelector(".username");
  if (localStorage.getItem("ssUsername")) {
   const storedName = localStorage.getItem("ssUsername");
   username.textContent = storedName;
   console.log(storedName);
  } else {
   username.textContent = "nameless user";
  }
 }

 document.addEventListener("DOMContentLoaded", onLoad);
</script>
