---
// import Layout from "../layouts/Layout.astro";
// import Card from '../components/Card.astro';
---

<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Welcome to Astro🚀</title>
 </head>
 <body>
  <main>
   <a href="/">Home</a>
   <a href="/about">About</a>
   <a href="/hobbies">Hobbies</a>
   <h1>Welcome to <span class="text-gradient">Astro</span></h1>
  </main>
 </body>
</html>

<!-- <style>
 * {
  box-sizing: border-box;
  color: black;
 }
 main {
  margin: auto;
  padding: 1.5rem;
  text-align: center;
 }

 a {
  font-size: 1.1rem;
  padding: 1rem;
 }

 h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
 }
 .text-gradient {
  background: -webkit-linear-gradient(#ad2b2b, #1870d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 10%;
 }
</style> -->
