---
import Layout from "../layouts/Layout.astro";

const showHr = false;
---

<Layout title="ShelfSpace | Home">
 {showHr && <hr class="my-5 mx-auto w-2/3 md:my-10" />}
 <div class="container mx-auto grid p-2 text-center md:w-2/3 md:p-4">
  <img
   src="/images/dude_reading-2.svg"
   class="-z-10 m-auto mb-3 mt-5 h-24 md:h-40"
   alt="character reading book"
  />
  <h1 class="mb-8 text-4xl md:mb-14 md:text-6xl">Welcome to ShelfSpace</h1>
  <p class="mb-5 text-lg md:mb-10">
   The perfect reading companion where all of your reading history is at your
   fingertips. Store and organize all your completed books in a single space,
   without taking up any actual space.
  </p>
  <p class="mb-5 text-lg md:mb-10">
   To get started please enter your first name below for a more customized
   experience.
  </p>

  <div class="container mx-auto flex items-center justify-center p-2">
   <input
    type="text"
    required
    placeholder="First name"
    class="input-bordered input-secondary input m-2 w-full max-w-xs text-base"
    id="name-input"
   />
   <a href="" id="name-btn-link">
    <button class="btn-secondary btn m-2 max-w-xs text-base" id="name-btn"
     >Let's go!</button
    ></a
   >
  </div>
  <p class="mb-2 text-xs md:text-sm">
   * Already entered a name? <a
    class="underline transition-all hover:text-primary"
    href="/books">click here</a
   >
  </p>
 </div>
</Layout>

<script>
 function getName() {
  const name = document.querySelector("#name-input");
  // ridiculous way to store capitalized first name from user into a variable. I hate typescript :)
  let correctName = "";
  if (name && "value" in name) {
   const value = name.value;
   //  console.log(value);
   correctName =
    (value as string)
     .trim()
     .toLocaleLowerCase()
     .split("")
     .splice(0, 1)
     .join("")
     .toLocaleUpperCase() +
    (value as string).trim().toLocaleLowerCase().split("").splice(1).join("");
  }

  // check input to see if its a valid name aka not an empty string, then store it in local storage
  if (correctName === "") {
   const nameInput = name as HTMLInputElement;
   nameInput.classList.remove("input-secondary");
   nameInput.classList.add("input-error");
   nameInput.placeholder = "Please enter your name!";
  }

  localStorage.setItem("ssUsername", correctName);

  continueToNextPage();
 }

 //  this function changes the a tag surrounding the btn to change it's href to the book page if a ssUsername exists in local storage
 function continueToNextPage() {
  if (localStorage.getItem("ssUsername") !== "") {
   const link = document.querySelector("#name-btn-link") as HTMLAnchorElement;
   link.href = "/books";
  }
 }

 document.querySelector("#name-btn").addEventListener("click", getName);
</script>
