<div class="navbar items-center justify-between bg-base-100">
 <div class="">
  <a
   href="/"
   class="btn-ghost btn text-lg normal-case hover:scale-105 md:text-xl"
   >ShelfSpace
   <svg
    class="h-6 w-6 text-primary"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
   >
    <path stroke="none" d="M0 0h24v24H0z"></path>
    <path
     d="M6 4h11a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-11a1 1 0 0 1 -1 -1v-14a1 1 0 0 1 1 -1m3 0v18"
    ></path>
    <line x1="13" y1="8" x2="15" y2="8"></line>
    <line x1="13" y1="12" x2="15" y2="12"></line></svg
   >
  </a>
 </div>
 <div class="flex-none">
  <ul class="menu menu-horizontal px-3">
   <li>
    <a href="/books" class="text-base hover:scale-105 md:text-lg">My books</a>
   </li>
   <!-- <li><a>Item 3</a></li> -->
  </ul>
 </div>
</div>
