<div class="navbar items-center justify-between bg-base-100">
 <div class="">
  <a href="/" class="btn-ghost btn text-lg normal-case md:text-xl"
   >ShelfSpace📚</a
  >
 </div>
 <div class="flex-none">
  <ul class="menu menu-horizontal px-3">
   <li><a href="/books" class="text-base md:text-lg">My books</a></li>
   <!-- <li><a>Item 3</a></li> -->
  </ul>
 </div>
</div>

<hr class="my-5 md:my-10 mx-auto w-2/3" />
