---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="manifest" href="~/manifest.json" />
  <link
   rel="icon"
   type="image/svg+xml"
   href="/images/undraw_book_reading_re_fu2c.svg"
  />
  <link rel="apple-touch-icon image_src" href="apple-touch-icon.png" />
  <meta name="theme-color" content="#212121" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
   href="https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap"
   rel="stylesheet"
  />
 </head>
 <body>
  <!-- nav -->
  <Nav />
  <!-- main content -->
  <div class="footer-space container mx-auto flex flex-col">
   <slot />
  </div>
  <!-- footer -->
  <Footer />
 </body>
</html>
