---
import Nav from "../components/Nav.astro";
import "../styles/global.css";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
   href="https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&display=swap"
   rel="stylesheet"
  />
 </head>
 <body>
  <!-- nav -->
  <Nav />
  <!-- main content -->
  <div class="container mx-auto flex flex-col">
   <slot />
  </div>
  <!-- footer -->
 </body>
</html>
